.download-btn {
    background-color: var(--color-2-light);
    color: var(--color-white);
    border: none;
    padding: 12px 20px;
    cursor: pointer;
    font-size: 20px;
    height: 100%;
    display: flex;
    align-items: center;    
	transition: 0.1s;
}

.download-btn:hover {
    background-color: var(--color-2);
    color: var(--color-btn-hover-text);
}

.download-loading {
    background-color: var(--color-2-lighter);
    border: none;     
    height: 100%;
    padding: 1rem;
}

#icon {
	background-color: var(--color-2-light);
	transition: 0.1s;
}

.download-btn:hover #icon {
    background-color: var(--color-2);
}

