* {
	font-size: 28px;
}

ul {
    display: block;
}

li {
    display: inline-block;
    margin: 2rem;
    font-size: 4rem;
}

li.home-link {
    margin-right: 4rem;
}

a:focus, a:hover, a:active {
    color : var(--color-1-darker);
}