.panel-container {
    display: flex;
    margin: 0 auto;
}

.panel-btn {
    background-color: var(--color-btn);
    color: var(--color-btn-text);
    padding: 12px 20px;
    cursor: pointer;
    font-size: 20px;
    display: flex;
    align-items: center; 
}

.panel-btn-text {
    background-color: var(--color-btn-hover);
    color: var(--color-btn-hover-text);
}