.process-btn {
    background-color: var(--color-btn);
    color: var(--color-btn-text);
    border: none;
    padding: 12px 20px;
    cursor: pointer;
    font-size: 20px;
    display: flex;
    align-items: center; 
}

.progress-message {
	background-color: var(--color-btn);
	color: var(--color-btn-text);
    float: right;
    margin-left: auto;
    font-size: 18px;
    font-style: italic;
}

.status-symbol {
	background-color: var(--color-btn);
    float: right;
    margin-left: 2rem;
    width: 4rem;
    height: 4rem;
    display: flex;
    align-items: center;
}

.filename {
	background-color: var(--color-btn);
	transition: 0.15s;
}

.process-btn:hover .filename {
	padding: 0 15px;
	color: var(--color-1-light);
}

.btn-container {
	display: flex;
    margin: 0 10px;
	padding: 10px;
	gap: 10px;
}

#extension {
	color: var(--color-gray-15);
}