.status-pending {
    color: var(--color-success);
    font-size: 2.5rem;
}

.status-complete {
    color: var(--color-success);
    font-size: 2.5rem;
}

.status-failed {
    color: var(--color-error);
    font-size: 2.5rem;
}

.status-paused {
	color: var(--color-notice);
	font-size: 2.5rem;
}

.status-cancelled {
    color: var(--color-notice);
    font-size: 2.5rem;
}