li.vertical {
    display: block;    
}

table {
    border-spacing: 0;
}

td {
    padding: 1rem 0;
    height: 1px;    
}

.job-table {
    padding: 0 15%;
}

.process-btn:hover {
    background-color: var(--color-1-light);
    color: var(--color-gray-10);
}

.process-col {
    width: 100%;
}

.download-btn:hover {
    background-color: var(--color-2-light);
}