#no-jobs {
	color: white;
}

.panel-container {
	display: flex;
	justify-content: center;
	flex-direction: row;
}

.panel-btn {
	margin: 5px;
}

li.vertical {
    display: block;    
}

table {
    border-spacing: 0;
}

td {
    padding: 1rem 0;
    height: 1px;    
}

.job-table {
    padding: 0 15%;
}

.process-col {
    width: 100%;
}